main{
    min-height: 100vh;
    display: grid;
    place-items: center;
    
}
.container{
    text-align: center;
}
#btn{
    padding: 0.7rem;
    width: 10rem;
    background-color: black;
    color: white;
    text-transform: uppercase;
}
